a.navbar-dropdown{
	color: rgb(0, 0, 0);
	}
a.navbar-item{
color: rgb(255, 255, 255);
}
a.navbar-link{
	color: #ffffff;
	}

.style{
   padding: 1em 1em;
}

.header-style{
	background-color: #3C5A99;
	border-radius: 0.5em;
}

.hero-bg{
   background-image: url(../img/hero-bg.png);
}

a.navbar-burger{
	color: #ffffff;
}


.logo-column-style{
	width:10em;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	}

div.columns-style{
	margin-top: 1em;
	border: 1px;
	padding: 1em;
	border-style: solid;
	border-color: #3C5A99;
	border-radius: 8px;
	
}



#fbPosts > .column-style{
	margin-top: 1em;
	padding: 0.5em;
	border: 0.25px;
	border-style: solid;
	border-color: #3C5A99;
	border-radius: 8px;
	box-shadow: 1px 2px 4px #3C5A99;
	min-width: 18em;
	height: 24em;
	overflow: hidden;
	
}

@media screen and (max-width:768px) {

	.logo-style{
		display: none;
	}

	.menu{
		display: none;
	}

	#fbPosts > .column-style{
		width:fit-content;
	}

	}


	.content.image-style{
		text-align: center;
		width:30em;
	}

	@media screen and (min-width:769px) {
		.menu-list-style{
			border: 0.25px;
			border-style: solid;
			border-color: #3C5A99;
			border-radius: 8px;
			box-shadow: 1px 2px 4px #3C5A99;
			margin-top: 1em;
			margin-right: 0.5em;
		}
	}



